.guidewindow {
  background: $play-btn;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
  width: 80%;
  max-width: 500px;
  height: 300px;
  max-height: 80vh;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 63);
}
.stepContent {
  height: 70%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsDis {
  display: flex;
  justify-content: space-between;
}
.helperBtn {
  background-color: $green-btn;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 63);
}
