.welcomeText {
  position: absolute;
  justify-self: center;
  top: 10%;
  font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
  .welcomeText {
    font-size: 1rem;
    padding: 0.5rem;
  }

}