.layoutwrapp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  height: 30%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 2rem 1rem;
  font-family: monospace;
  justify-content: space-evenly;
}
.content{
  height: 70%;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .welcomeText {
    font-size: 1rem;
    padding: 0.5rem;
  }
  
}