.noteButton {
  font-size: 1.5rem;
  background: $play-btn;
  padding: 1.5rem;
  border: 2px solid $border-btn;
  border-radius: 5px;
  cursor: pointer;

}

.helper {
  font-size: 1rem;
  color: #ffcb8994;
}

@media (max-width: 600px) {
  .noteButton {
    font-size: 1rem;
    padding: 1rem;
  }
}