.experienceContainer{
    background-color: rgba(218, 194, 173, 0.391);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__noteButtonContainer{
        width: 50% ;
        height: 50%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 0;

    }
    
}